// Main Colors
$text-color: #363636;
$text-color-light: #bbbbbb;

$danger: #ff3860;

// Margins
$margin: 30px;
$margin-large: 100px;
$margin-small: 10px;

// Background Colors
$light-gray: #fafafa;
$dark-gray: #b0b0b0;
